<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Admin Login Page </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel='stylesheet' href='/stylesheets/adminLogin.css' />
    

    
</head>
<body>
<div class="loginBox" > <img class="user" style="height: 70px; width: 70px;" src="/images/adminlogo1.jpg" height="100px" width="100px">
    <h3>Admin Login Here</h3>
    <% if (locals.errorMessage) { %>
        <h5 class="text-danger form-signin-heading2 " style="font-size: 15px;" ><%= errorMessage %></h5>
        <% } %>
        <% if (locals.logoutMessage) { %>
          <h5 class="text-sucess form-signin-heading2" ><%= logoutMessage %></h5>
          <% } %>
    <form action="login" method="post" name="Login_Form" onsubmit="return validateForm()">
        <div class="inputBox">
            <input type="text" id="email"  class="form-control" name="email" placeholder="Email Address" required="" autofocus="" />
                <p id="emailError" style="color: red; font-size: 12px;"></p><br>
                
                <input type="password"  id="password" class="form-control" name="password" placeholder="Password" required=""/>
                <p id="passwordError"  style="color: red; font-size: 12px;"></p><br>
         </div> 
        <input type="submit" name="Submit" value="Login">
    </form> 
  
    
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = '/javascripts/vaildate.js'></script>
</body>
</html>