<!DOCTYPE html>
<html>
<head>
  <title>Change Password</title>
  <link rel='stylesheet' href='/stylesheets/forgot.css'>

</head>
<body>
  <h1>Change Password</h1>

  <form method="POST" action="/forgot-password">
    <label for="email">Email:</label>
    <input type="email" name="email" id="email" placeholder="Enter your email" required />
    <button type="submit" id="myButton" >Send Reset Link</button>
  </form>
<script>
 var button = document.getElementById("myButton");

    // Add a click event listener to the button
    button.onclick = function() {
        // This function will be called when the button is clicked
        alert("The email has been sent successfully.");
    };
</script>
</body>
</html>