<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Signup Page </title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/userSignup.css' />
    <link rel="stylesheet" href="/node_modules/toastr/build/toastr.min.css">
   


  
</head>
<body>
    
<div class="container pt-5">
    <div class="form-bg">
        <div class="container">
            <div class="row">
                <div class="col-md-offset-4 col-md-4 col-sm-offset-3 col-sm-6">
                    <div class="form-container">
                        <a href="/" class="brand-wrap" style="display: flex; justify-content: flex-start;">
                            <!-- Your logo img tag here -->
                            <img src="/assets/imgs/shop/BIKYS.png" style="width: 50%; margin-right: auto;" class="logo" alt="Evara Dashboard">
                        </a>
                        <h3 class="title">Create Account</h3>
                       
                        <form action="/signup" class="form-horizontal" method="post" name="Signup_Form" onsubmit="return validateForm()">   
                            <% if (locals.errorMessage) { %>
                                <h5 class="text-danger"><%= errorMessage %></h5>
                                <% } %>
                            <div class="form-group">
                                <label for="uname" class="form-label naming">Name</label>
                                <input type="text" class="form-control" placeholder="Name" id="username" name="username" autofocus="" required="">
                                <span id="usernameError" class="check-label" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="email" class="naming">Email</label>
                                <input type="email" class="form-control " placeholder="Email" id="email" name="email" autofocus=""  required="">
                                <span id="emailError" class="check-label" style="color: red;"></span>
                            </div>
                            <div class="form-group">
                                <label for="phoneNumber" class="naming">Mobile No</label>
                                <input type="tel" class="form-control" id="phoneNumber" name="phone" placeholder="Phone Number" required="">
                                <!-- <span id="passwordError" class="check-label" style="color: red;"></span> -->
                            </div>
                            <div class="form-group">
                                <label for="password" class="naming">Password</label>
                                <input type="password" class="form-control" id="password" name="password" placeholder="Password" required="">
                               
                                <span id="passwordError" class="check-label" style="color: red;"></span>
                            </div>

                            <div class="form-group">
                                <label for="confirmpassword" class="naming">Confirm Password</label>
                                <input type="password" class="form-control" id="confirmpassword" name="confirmpassword" placeholder="Confirm Password" required="">
                                <span id="confirmpasswordError" class="check-label" style="color: red;"></span>
                            </div>
                           
                            <button class="btn signup" name="Submit" type="Submit">Sign up</button>
                          
                        </form>
                        <p class="text-center signup" >Already have an account? <a href="/login">Login </a></p> 
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/node_modules/toastr/build/toastr.min.js"></script>





<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src = '/javascripts/signupvalidate.js'></script>
</body>
</html>